# --- 보안 필수 (절대 금지) ---
google_key.json
*.json
EDA/raw/12_spacetrack.ipynb

# --- 환경 설정 및 가상환경 ---
.venv/
env/
venv/
.env

# --- 파이썬 관련 캐시 ---
__pycache__/
*.py[cod]
*$py.class

# --- 데이터 파일 ---
# raw 데이터는 제외 (용량 크고 민감)
project/01_data/raw/

# processed CSV는 포함 (대시보드 실행에 필요)
# *.csv 줄 삭제
*.xlsx
data/

# --- Jupyter ---
.ipynb_checkpoints/

# --- 운영체제/툴 관련 ---
.DS_Store
.vscode/
.idea/

# --- EDA 폴더 산출물 ---
EDA/*.csv
EDA/*.html